{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<section>
    <div class="container">
        <div class="row align-items-center" style="margin: 20px 0px; height: 60px;">
            <div class="col">
            </div>
        </div>

        <div class="row my-4">
          <div class="col text-center mb-3">
            <h1 class="text-warning display-2">&Agrave; Propos</h1>
            <p class="lead text-secondary">Interview de la fondatrice, tata Konan Fran&ccedil;oise.</p>
          </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mHuBZ5ce1RM" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col-sm-5 justify-content-center">
                <p>
                    Eilinoya Events est un espace événementiel très sympathique ouvert comprennant une grande terrasse,
                    un jardin à deux niveau, une salle privée et une cuisine fonctionnelle. Cet espace est prévu pour
                    les mariages, les baptêmes, les anniversaires ou tous autres évènements conviviaux.
                    Fondé depuis quelques années déjà, nous avons eu le l’honneur et le plaisir d’organiser des arbres
                    de Noël et des foires commerciales. Madame Françoise Konan, la Fondatrice, vous invite à découvrir
                    Elinoya dans un publi-reportage réalisé par Monsieur Nianzou Ano.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}