{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<section>
    <div class="container">
        <div class="row">
          <div class="col text-center mb-3">
            <h1 class="text-warning display-2">&Agrave; Propos</h1>
            <p class="lead text-secondary">Interview de la fondatrice, tata Konan Fran&ccedil;oise.</p>
          </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mHuBZ5ce1RM" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col-sm-5 justify-content-center">
                <p>
                    Eilinoya Events est un espace &eacute;v&egrave;nementiel comfortable pour tout &eacute;v&egrave;nement.
                    Que ce soit mariage, ou anniversaire, bapt&ecirc;me ou tout autre &eacute;v&egrave;nements conviviale, Eilinoya Events
                    sera ravis de vous accueillir. Fond&eacute;e maintenant il y a de cela presque 5 ans, Eilinoya Events
                    a eut l'honneur ainsi que le plaisir d'accueillir une multitude d'&eacute;v&egrave;nements. La fondatrice, tata
                    Konan Fran&ccedil;oise vous invite a d&eacute;couvrir dans cette interview, son oeuvre.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}