{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<section class="py-4">
    <div class="container">
        <div class="row align-items-center" style="margin: 20px 0px; height: 50px;">
            <div class="col">
            </div>
        </div>

        <div class="row my-2" style="border: 1px solid #ccc;">
            <div class="col-sm-6"  style="padding: 20px">
                <h2 class="display-6">Contacts</h2>
                <br/>
                <p>
                    <i class="fa fa-phone fa-1x"></i> <a href="tel:78 60 59">(+225) 78 60 59</a> |
                    <a href="tel:78 98 66 79">(+225) 78 98 66 79</a>
                </p>
               <p>
                    <i class="fa fa-envelope-o fa-1x"></i> eilinoya.events@yahoo.com
                </p>
            </div>
            <div class="col-sm-6" style="padding: 20px">
                <h2 class="display-6">Location</h2>
                <img src="{% static 'portfolio/images/map_eilinoya.PNG' %}" style="width:80%; margin: 8px;"/>
                <p class="lead"> Nous s&ocirc;mmes situ&eacute;s &agrave; 5 minutes &agrave; pieds d'Abidjan Mall.
                </p>
            </div>
        </div>
        <div class="row bg-light">
            <div class="col-sm-6">
                <p>Vous pouvez aussi remplir le formulaire suivant en nous laissant votre nom et contact t&eacute;l&eacute;phonique
                    et nous ferons en sorte de vous joindre:</p>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="name" />
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">T&eacute;l&eacute;phone</label>
                        <input type="tel" class="form-control" id="mobile" placeholder="05 56 43 43" />
                    </div>
                    <div class="mb-3">
                        <label for="question" class="form-label">Question</label>
                        <textarea class="form-control" id="question" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}