{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}


<!-- header -->
<header>
  <div class="text-md-end text-center text-white fw-bold banner">
      <h1 class="display-3 text-uppercase banner-heading fw-bold">Bienvenue &agrave; <span>Eilinoya Events</span></h1>
      <p class="lead banner-par">Au coeur de l'&eacute;v&egrave;nementiel</p>
  </div>
</header>


<!-- mission -->
<section class="p-5 mission">
    <div class="container-fluid">
        <!-- title -->
        <div class="row text-center text-white">
            <div class="col m-4">
                <h1 class="display-4 mb-4">Notre Mission</h1>
                <div class="underline mb-4"></div>
                <p class="lead">Notre mission est d'&ecirc;tre un espace d'acceuil de haut-standing pour vos &eacute;v&egrave;nements conviviaux.</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 text-center">
                <i class="fa fa-cogs fa-5x text-danger mb-4"></i>
                <h1 class="text-white mb-3">Comfort</h1>
                <p class="text-white">Un espace bien-entrenu et sympatique</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-thumbs-up fa-5x text-danger mb-4"></i>
                <h1 class="text-white mb-3">Qualit&eacute;</h1>
                <p class="text-white">Du materiel de qualit&eacute;</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-handshake fa-5x text-danger mb-4"></i>
                <h1 class="text-white mb-3">Exp&eacute;rience</h1>
                <p class="text-white">Nous avons l'habitude d'acceuillir du monde</p>
            </div>
        </div>
    </div>
</section>


 {% endblock %}